html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nav{
    float: right !important;
}
.navbar{
    padding: 0 20% !important;
}
.logo{
    margin: 0 !important;
    text-align: center;
}
.logo img{
    width: 50%;
}

.title{
    text-align: center;
    width: 100%;
}

.title h1{
    font-size: 2.2rem;
    color: rgb(219, 166, 20);
}

.body>.produto>.valor{
    font-size: 2rem;
    color: rgb(219, 166, 20);
    margin-bottom: 1rem;
}

.produto{
    border: 1px solid rgba(219, 166, 20, 0.267);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
.produto img{
    width: 70%;
}
.produto p{
    font-size: 1.4rem;
}

.btnGeral{
    display:inline-block;
    padding:0.5em 1.3em;
    margin:1.5rem 0.1em 0.1em 0;
    border:0.1em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color:rgb(219, 166, 20);
    color: rgb(255, 255, 255);
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

/* ----------- Button upload ----------- */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
  
.btn-upload {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    padding: 6px 55px;
    border-radius: 8px;
    font-size: 20px;
}
  
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

label{
    margin-bottom: .6rem;
    font-size: 1.1rem;
    color: rgb(219, 166, 20);
}

.features_items{
    text-align: center;
}